* {
	padding: 0;
	margin: 0;
}
.hero {
	background: linear-gradient(to bottom, #0a0c2c80 3rem, #0a0c2c80 10rem),
		url("./vector-icons/purple/hero.jpg");
	background-position: center, bottom left;
	background-size: cover, cover;
	height: 100vh;
}
body::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
body::-webkit-scrollbar-track {
	box-shadow: inset 10px 10px 10px rgba(255, 255, 255, 0.568);
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
	background-color: #8e24aa;
	border-radius: 10px;
}

@media (max-width: 36rem) {
	.hero {
		background: linear-gradient(to bottom, #0a0c2c80 3rem, #0a0c2c80),
			url("./vector-icons/purple/hero-sm.jpg");
		background-position: center, bottom left;
		background-size: cover, cover;
		align-items: flex-start;
		height: 100vh;
		/* padding-top: 7.5rem; */
		/* max-height: 720px; */
		color: #d334ff;
	}
}
